{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Choose Playlist to Migrate {% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">Your Playlists</h1>
  <p class="description">Choose one playlist from below:</p>
    {% if result_playlist != [] %}
    {% for _ in range(result_playlist|length): %}
  <div class="card" >
    <div class="front" style="background-image: url({{result_playlist[_]['images']}});">
        <a class="medium" href="{{url_for('start_migration', playlist_id=result_playlist[_]['id'])}}"># {{_}} : Playlist {{result_playlist[_]['name']}} </a>
    </div>
  </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}